/node_modules

/types/next-auth.d.ts

/lib/auth/options.ts
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.next/

node_modules
dist
dist-ssr
*.local

# Editor directories and files
zto_remove_later/
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

cypress/e2e/examples/
*.config.js
*.config.ts
tsconfig.tsbuildinfo
generate-details.js
generate-sitemap-json.js

set-env-vars.js
create-local-server.js
